.img-container {
    padding: 0;
    margin: .5rem;
    display: inline-block;
}

img {
    border: 10px solid white;
    border-radius: 25px;
    position: relative;
    float: left;
    width:  200px;
    height: auto;
}

img:hover {
    box-shadow: 0 10px 10px #999;
}