.img-container {
    padding: 0;
    margin: .5rem;
    display: inline-block;
    
}

img {
    border: 10px solid white;
    border-radius: 15px;
    position: relative;
    float: left;
    width:  200px;
    height: auto;
    box-shadow: 0 5px 5px #999;
}

img:hover {
    box-shadow: 0 10px 10px #888
}